{% extends 'base.html' %}

{% block body %}
<div class="container">
    <br>
    <main role="main">
        <div class="jumbotron">
            <div class="col-sm-8 mx-auto">
                <h1>Welcome</h1>
                <p>Welcome to the Clever Programmer Blog! Here we'll be talking about everything computer science.
                    Basics, framesworkds, machine learning, other data science stuff, any new tech or findings, and
                    pretty much anything computer science related.</p>
                <p>Go visit us at our website <a href="https://www.cleverprogrammer.com">cleverprogrammer.com</a> to
                    check out more cool stuff beyond just blogs.</p>
                <p>
                    <a class="btn btn-primary" href="" role="button">Go To Test &raquo;</a>
                </p>
            </div>
        </div>
    </main>

</div>
{% endblock %}