{% extends "base.html" %}

{% block head -%}
欢迎登录 -
{%- endblock %}

{% block login %}
<section class="container-fluid">
    <section class="row  align-items-center mt-5">
        <section class="col-lg-3 col-sm-10 col-md-5 m-auto">
            <div class="card text-center shadow-lg p-4 bg-white rounded">
                <div class="card-title">
                    <h3 class="h3 m-4" id="tl">公文管理系统</h3>
                </div>
                <form method="POST" action="/login" class="card-body px-5">
                    <div>
                        {% with messages = get_flashed_messages() %}
                        {% if messages %}
                        <div class="alert alert-danger" role="alert">
                            {{ messages[0] }}
                        </div>
                        {% endif %}
                        {% endwith %}
                        <select class="form-select" id="dept" name="dept" onchange="getuser()" required>
                            <option value=""></option>
                            {% if tasks|length > 1 %}
                            {% for task in tasks %}
                            <option value="{{task.id}}">{{ task.deptName }}</option>
                            {% endfor %}
                            {% endif %}
                        </select>
                    </div>
                    <div class="control">
                        <select class="form-select" id="usernames" name="usernames" required>
                            <option value=""></option>
                        </select>
                    </div>
                    <div class="">
                        <div class="control">
                            <input class="form-control" type="password" name="password" placeholder="请输入密码" required>
                        </div>
                    </div>
                    <div class="checkbox mt-2 mb-4">
                        <label class="text-muted">
                            <input type="checkbox" value="remember-me">
                            Remember me
                        </label>
                    </div>
                    <button class="btn btn-success btn-lg " style="width:70%">Login</button>
                </form>
            </div>
        </section>
    </section>
</section>
<script type="text/javascript">
<!--更新用户名-->
    function getuser(){
        $('#usernames').text("");
<!--        $('#usernames').append('<option value=""></option>');-->
        var dept = $("#dept").val()
        $.ajax({
            url:"/getuser/" + dept,
            type:"post",
            success:function(data){
                for (var x in data) {
                    $('#usernames').append('<option value=' + x + '>' + data[x] +'</option>');
                    };
            },
        });
    }

</script>



<script src="{{url_for('static', filename='js/jquery.min.js')}}"></script>
{% endblock %}