{% extends 'base.html' %}

{%- block head -%}
修改发文信息 -
{%- endblock %}

{% block body %}
<div class="container">
    <h2 class="text-center m-3">修改文件基础信息</h2>
    <form action="/modify/{{task.id}}" method="POST" id="modifyForm">
        <table class="table table-sm table-borderless mt-3">
            <tbody>
            <tr>
                <td>
                    <div class="row">
                        <label for="inputTitle" class="col-form-label">文件标题</label>
                    </div>
                </td>
                <td colspan="4">
                    <div class="col-9">
                        <input type="text" class="form-control" id="inputTitle" name="inputTitle" value="{{task.title}}"
                               required autofocus>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="row">
                        <label for="inputBDate" class="col-form-label">印发日期</label>
                    </div>
                </td>
                <td>
                    <div class="col-5">
                        <input type="date" class="form-control" id="inputBDate" name="inputBDate" min=2000-01-01
                               max=2064-12-31 required>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="row">
                        <label for="inputSendto" class="col-form-label">主送单位</label>
                    </div>
                </td>
                <td>
                    <div class="col-9">
                        <input type="text" class="form-control" id="inputSendto" name="inputSendto"
                               value="{{task.sendto}}"  required>
                    </div>
                </td>
                <td>
                    <div class="row">
                        <label for="inputType" class="col-form-label">文种类别</label>
                    </div>
                </td>
                <td>
                    <div class="row col-md-10">
                        <select class="form-select" id="inputType" name="inputType" required>
                            <option value=""></option>
                            <option value="通知">通知</option>
                            <option value="请示">请示</option>
                            <option value="意见">意见</option>
                            <option value="报告">报告</option>
                            <option value="函">函</option>
                            <option value="批复">批复</option>
                            <option value="纪要">纪要</option>
                            <option value="决议">决议</option>
                            <option value="决定">决定</option>
                            <option value="命令（令）">命令（令）</option>
                            <option value="公报">公报</option>
                            <option value="公告">公告</option>
                            <option value="通告">通告</option>
                            <option value="通报">通报</option>
                            <option value="议案">议案</option>
                            <option value="其他未知">其他未知</option>
                            <option value="领导批文">领导批文</option>
                        </select>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <label for="inputMemo" class="col-form-label ">备注内容</label>
                </td>
                <td>
                    <div class="col-9">
                        <input type="text" class="form-control" id="inputMemo" value="{{task.memo1}}"  name="inputMemo">
                    </div>
                </td>
                <td>
                    <label for="inputPublic" class="col-form-label">信息公开选项</label>
                </td>
                <td>

                    <div class="row col-md-10">
                        <select class="form-select" id="inputPublic" name="inputPublic" required>
                            <option value="主动公开" selected>主动公开</option>
                            <option value="依申请公开">依申请公开</option>
                            <option value="不予公开">不予公开</option>
                        </select>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="col-12">
                        <label for="miji" class="col-12 col-form-label">文件密级</label>
                    </div>
                </td>
                <td>
                    <div class="col-3">
                        <select class="form-select" id="miji" name="miji">
                            <option value="">无</option>
                            <option value="绝密">绝密</option>
                            <option value="机密">机密</option>
                            <option value="秘密">秘密</option>
                        </select>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
        <div class="row text-center">
            <div class="col-12">
                <button class="btn btn-primary" type="submit" id="btn_query">确定修改数据</button>
            </div>
        </div>
    </form>
</div>

<script>
window.onload = function() {
    var dt = '{{task.crtime}}';
    var ftype = '{{task.ftype}}';
    var xxgk = '{{task.xxgk}}';
    var miji = '{{task.miji}}';
    $('#inputBDate').val(dt.replace(' 00:00:00', ''));
    $('#inputType').val(ftype);
    $('#inputPublic').val(xxgk);
    $('#miji').val(miji);
};
</script>
{% endblock %}