{% extends 'base.html' %}

{%- block head -%}
文档查询 -
{%- endblock %}

{% block body %}
<div class="container">
    <!--提示信息-->
    <div class="alert alert-warning alert-dismissible fade show" id="msg" role="alert" style="display:none">
        <strong>提示：</strong><span id="msg_span"></span>
        <button type="button" class="btn-close" id="msg_btn" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
<!--模糊查询要素提交及清空、结果导出-->
    <h2 class="text-center m-3">存档文件查询</h2>
    <form action="/qry" method="POST" id="qryForm">
        {% include 'basetag.html' %}
        <div class="row text-center">
            <div class="col-4">
                <a href="/clear">
                    <button class="btn btn-primary" type="button">清空查询</button>
                </a>
            </div>
            <div class="col-4">
                <button class="btn btn-primary" type="submit" id="btn_query">查询数据</button>
            </div>
            <div class="col-4">
                <a href="/export" role="button" class="btn btn-primary">导出数据</a>
            </div>
        </div>
    </form>
</div>
<br>

<!--显示查询结果表格-->
{% include 'resulttable.html' %}

<!-- ajax方法上传文件到服务器，并取得反馈信息。 -->
<script>
    function ajaxForm(obj, id, type){
        if (getFileSize(obj) != true) {
            return false;
        };
        event.preventDefault();
        var form= new FormData(document.getElementById(obj));
        // <!--显示模态进度窗口-->
        $('#spinner').click();

        // <!--异步上传文件-->
        $.ajax({
            url:"/upload/" +type+ "/" + id,
            type:"post",
            data:form,
            dataType: 'json',
            processData:false,
            contentType:false,
            xhr: function() {
                var xhr = new XMLHttpRequest();
                //使用XMLHttpRequest.upload监听上传过程，注册progress事件，打印回调函数中的event事件
                xhr.upload.addEventListener('progress', function (e) {
                    console.log(e);
                    //loaded代表上传了多少
                    //total代表总数为多少
                    var percent = Math.round((e.loaded / e.total) * 100);
                    //通过设置进度条的宽度达到效果
                    $('#progressBar').attr('aria-valuenow', percent).css('width', percent + '%');
                })
                return xhr;
            },
            success:function(data){
                   // $('#msg_span').text(data.msg);
                   // $('#msg').show();
                    $('#upload_' + type + id).attr("style", "display:none;");
                    $('#view_' + type + id).attr("style", "display:block;");
            },
            error:function(e){
                    alert(data.msg);
            },
            complete:function(){
                $('#btn_Close_Modal').click();
            }
        });
    };

function getFileSize(obj) {
        var size = 0;
        var filemaxsize = 1024 * 5;  //限定最大体积为5M，为Kb单位
        obj = $('#' + obj + ' :file')[0];
        if (navigator.userAgent.indexOf("MSIE")>0) {
                var fso = new ActiveXObject('Scripting.FileSystemObject');
                var file = fso.GetFile(obj.value);
                size = file.size;
        } else {
                size = obj.files[0].size / 1024 ;
        }
        if(size>filemaxsize){
                $('#modal_msg strong').text("文件不能大于 "+filemaxsize/1024+" Mb！ 所选文件为：" + (size/1024).toFixed(2) + " Mb");
                $('.progress').hide();
                $('#spinner').click();
                obj.value ="";
                return false;
        }
        if(size<=0){
                alert("附件大小不能为0M！");
                obj.value ="";
                return false;
        }
        return true;
}
//删除附件
function askOperation(id){
    var r=confirm("您确定要删除掉该发文记录的所有附件吗？");
    if (r==true) {
        $.ajax({
            url:"/emptyFile",
            type:"POST",
            data: {
                fileid: id
                },
            dataType: 'json',
            success:function(data){
                    $('#upload_main' + id).attr("style", "display:block;");
                    $('#upload_attach' + id).attr("style", "display:block;");
                    $('#view_main' + id).attr("style", "display:none;");
                    $('#view_attach' + id).attr("style", "display:none;");
                    console.log(data.msg);
            },
            error:function(data){
                    alert(data.msg);
            }
        });
    } else {
        return false;
    }
}
</script>


{% endblock %}