<!-- 隐藏的模态窗口按钮 -->
<button type="button" class="btn" id="spinner" data-bs-toggle="modal"
        data-bs-target="#staticBackdrop" style="display:none">
    Launch modal
</button>

<!-- 模态窗口显示上传信息 -->
<div class="modal" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
     aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog mt-5">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">提醒</h5>
                <button type="button" class="btn-close" id="btn_Close_Modal" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="d-flex align-items-center">
                    <br><br>
                    <strong>文件正在上传中，请勿关闭中断操作...</strong>
                    <br><br>
                    <div class="spinner-border ms-auto" role="status" aria-hidden="true"></div>
                </div>
            </div>
            <div class="modal-footer">

            </div>
        </div>
    </div>
</div>

<table class="table table-striped table-hover table-sm align-middle" style="font-size:14px;">
    <thead class="text-center sticky-top fs-6">
    <tr class="align-middle">
        <th class="sticky-top tf" scope="col">序号</th>
        <th class="sticky-top tf" scope="col">编号</th>
        <th class="sticky-top tf" scope="col">发文字号</th>
        <th class="sticky-top tf" scope="col">密级</th>
        <th class="sticky-top tf" scope="col">文件标题</th>
        <th class="sticky-top tf" scope="col">主送单位</th>
        <th class="sticky-top tf" scope="col">拟稿人</th>
        <th class="sticky-top tf" scope="col">印发日期</th>
        <th class="sticky-top tf" scope="col">公开选项</th>
        <th class="sticky-top tf" scope="col">正文文档</th>
        <th class="sticky-top tf" scope="col">附件文档</th>
        <th class="sticky-top tf" scope="col">备注</th>
        <th class="sticky-top tf" scope="col">维护</th>
    </tr>
    </thead>
    <tbody>
    {% if tasks %}
    {% for task in tasks %}
    <tr>
        <td>{{loop.index}}</td>
        <td class="text-center">{{task.id}}</td>
        <td class="text-center">{{task.filenumber}}</td>
        <td class="text-center">{{task.miji}}</td>
        <td>{{task.title}}</td>
        <td>{{task.sendto}}</td>
        <td class="text-center">{{task.creater}}</td>
        <td class="text-center">{{task.crtime.strftime("%Y-%m-%d")}}</td>
        <td class="text-center">{{task.xxgk}}</td>
        <td class="text-center">
            {% if task.mainfile|striptags !="无" %}
            <a href="/mainfile/{{task.id}}" style="display:block">
                <button class="btn btn-success btn-sm" type="button">查看</button>
            </a>
            {% else %}
            <a href="/mainfile/{{task.id}}" style="display:none" id="view_main{{task.id}}">
                <button class="btn btn-success btn-sm" type="button">查看</button>
            </a>
            {% if dept == task.operdept %}
            <form action="/upload/main/{{task.id}}" id="upload_main{{task.id}}" name="uploadMain{{task.id}}"
                  method="POST"
                  enctype="multipart/form-data" style="display:block">
                <label class="btn btn-secondary btn-sm" for="file{{task.id}}" id="btn{{task.id}}">上传</label>
                <input type="file" name="main{{task.id}}" id="file{{task.id}}" style="display:none"
                       onchange="ajaxForm('upload_main{{task.id}}', '{{task.id}}', 'main')();"
                       autocomplete="off"
                       accept=".pdf, .jpg, .bmp, .png, .gif, .rar, .zip, .doc, .docx"
                       required/>
            </form>
            {% endif %}
            {% endif %}
        </td>
        <td class="text-center">
            {% if task.mainfile1|striptags !="无" %}
            <a href="/mainfile1/{{task.id}}">
                <button class="btn btn-success btn-sm" type="button">查看</button>
            </a>
            {% else %}
            <a href="/mainfile1/{{task.id}}" style="display:none" id="view_attach{{task.id}}">
                <button class="btn btn-success btn-sm" type="button">查看</button>
            </a>
            {% if dept == task.operdept %}
            <form action="/upload/attach/{{task.id}}" id="upload_attach{{task.id}}" name="uploadAttach{{task.id}}"
                  method="POST"
                  enctype="multipart/form-data" style="display:block">
                <label class="btn btn-secondary btn-sm" for="attach{{task.id}}" id="btn_attach{{task.id}}">上传</label>
                <input type="file" name="attach{{task.id}}" id="attach{{task.id}}" style="display:none"
                       onchange="ajaxForm('upload_attach{{task.id}}', '{{task.id}}', 'attach')();"
                       autocomplete="off"
                       accept=".pdf, .jpg, .bmp, .png, .gif, .rar, .zip, .doc, .docx"
                       required/>
            </form>
            {% endif %}
            {% endif %}
        </td>
        <td>{{task.memo1}}</td>
        <td class="text-center">
            {% if (userName == task.creater) or (canUpdate == "A") %}
            <a href="#">
                <button class="btn btn-danger btn-sm" type="button">修改</button>
            </a>
            {% endif %}
        </td>
    </tr>
    {% endfor %}
    {% endif %}
    </tbody>
</table>


